.App {
    text-align: center;
    /* background-image: url('../img/rainy-weather-wallpaper-preview.jpeg'); */
    /* background-image: linear-gradient(to right top, #d16ba5, #d584b9, #da9cca, #dfb3da, #e5c9e7, #e2d3f1, #e1ddf9, #e1e7ff, #c8ebff, #a3f1ff, #79f7ff, #5ffbf1); */
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


/* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
} */

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.maincity {
    display: block;
    justify-content: center;
    align-content: center;
}

.barraBuscar {
    padding: 2%;
}